.main {
  flex-wrap: wrap;
  justify-content: space-around;
}

.book {
  margin-left: 20px;
  margin-bottom: 20px;
  box-shadow: 0 8px 24px rgba(19, 77, 200, 0.767);
}

.p-dropdown {
  width: 100%;
}

.Cross {
  position: relative;
  left: -4ch;
  user-select: none;
}

.addButton {
  padding-left: 5px;
  user-select: none;
}

.input-stock input {
  width: 124px;
  text-align: center;
}

.input-num input {
  width: 172px;
  text-align: center;
}

.error{
  border: solid 2px #e24c4c;
  border-radius: 8px;
}
